.header-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  .topbar-menu-mobile-container {
    background-color: rgb(50, 48, 65);
    padding-left: 80px;
    padding-right: 80px;

    .sidebar-header {
      img {
        width: 50px;
      }

      .logo-item {
        .logo-text {
          color: white;
          font-size: 30px;
        }
      }
    }

    .sidebar-item {
      align-items: center;

      .itme-1 {
        color: white;
        font-size: 20px;
        padding-right: 70px;
      }

      .item-2 {
        i {
          color: white;
          font-size: 30px;
          padding-right: 25px;
        }
      }

      .item-3 {
        align-items: center;

        i {
          color: white;
          font-size: 30px;
          padding-right: 25px;
        }

        div {
          color: white;
          font-size: 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .topbar-menu-mobile-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .sidebar-header {
      img {
        width: 30px;
      }

      .logo-item {
        .logo-text {
          font-size: 16px !important;
        }
      }
    }

    .sidebar-item {
      .itme-1 {
        font-size: 12px !important;
        padding-right: 10px;
        margin-bottom: 5px;
      }

      .item-2 {
        i {
          font-size: 16px !important;
          padding-right: 10px;
        }
      }

      .item-3 {
        i {
          font-size: 16px !important;
          padding-right: 10px;
        }

        div {
          font-size: 12px !important;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .topbar-menu-mobile-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .sidebar-header {
      img {
        width: 20px !important;
      }

      .logo-item {
        .logo-text {
          font-size: 14px !important;
        }
      }
    }

    .sidebar-item {
      .itme-1 {
        font-size: 10px !important;
        padding-right: 5px !important;
        margin-bottom: 3px !important;
      }

      .item-2 {
        i {
          font-size: 14px !important;
          padding-right: 5px !important;
        }
      }

      .item-3 {
        i {
          font-size: 14px !important;
          padding-right: 5px !important;
        }

        div {
          font-size: 10px !important;
        }
      }
    }
  }
}
